---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import cat1 from "../../public/cat1.webp";
---

<Layout title="resources">
  <div class="main-container">
    <h1 class="header">404</h1>
    <p class="smaller">
      (developed by <a
        href="https://x.com/awpenheimer_"
        target="_blank"
        aria-label="link to X (formerly Twitter)">awpy</a
      >)
    </p>
    <Image src={cat1} alt="cute cat eating ice cream" loading="eager" />
    <div class="buttons">
      <div class="button" onclick="location.href='/'">home</div>
    </div>
  </div>
</Layout>
<style>
  .main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
  }

  .header {
    color: var(--header);
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .smaller {
    color: var(--smaller);
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .button {
    font-size: 1rem;
    color: var(--header);
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    background: none;
    border: 2px solid var(--header);
    cursor: pointer;
  }
  .button:hover {
    transition: 0.3s;
    background-color: #ffffff0d;
    color: #ffffff;
    border: solid 1px #ffffff;
    box-shadow: 0px 0px 150px 0px #abd9ff;
    cursor: pointer;
  }
</style>
