---
import Layout from "../layouts/Layout.astro";
---

<Layout title="resources">
  <div class="background"></div>
  <div class="main-container">
    <h1 class="header">resources</h1>
    <p class="smaller">(to be)</p>
    <div class="buttons">
      <div class="button" onclick="location.href='/'">back</div>
    </div>
  </div>
</Layout>

<style>
  .main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    text-align: center;
    z-index: 10;
    transition:
      opacity 1s ease-in-out,
      transform 1s ease-in-out;
  }
  body.loaded .main-container {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .header {
    color: var(--header);
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .smaller {
    color: var(--smaller);
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .button {
    font-size: 1rem;
    color: var(--header);
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    background: none;
    border: 2px solid var(--header);
    cursor: pointer;
  }

  .button:hover {
    transition: 0.3s;
    background-color: #ffffff0d;
    color: #ffffff;
    border: solid 1px #ffffff;
    box-shadow: 0px 0px 150px 0px #abd9ff;
    cursor: pointer;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add("loaded");
  });
</script>
