---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

interface Resource {
  name?: string;
  url: string;
  type: string;
  author?: string;
}

// Fetch resources from your S3 bucket
const resources: Resource[] = await fetch(
  "https://crackeduncclub.s3.us-east-2.amazonaws.com/resources.json"
)
  .then((res) => res.json())
  .catch((err) => {
    console.error("Error fetching resources:", err);
    return [];
  });
---

<Layout title="resources">
  <div class="main-container">
    <h1 class="header">resources</h1>
    <p class="smaller">scroll down</p>
    <p class="smaller">
      <span class="lowopacity">(page still in development)</span>
    </p>
    <div class="buttons">
      <div class="button" onclick="location.href='/'">back</div>
      <div
        class="button"
        onclick="location.href='https://discord.gg/tv66jPtapw'"
      >
        discord
      </div>
    </div>
  </div>

  <div class="resources-container">
    {
      resources.map((resource: Resource) => (
        <Card
          title={resource.name || resource.url}
          url={resource.url}
          type={resource.type}
          author={resource.author || "Unknown"}
        />
      ))
    }
  </div>
</Layout>

<style>
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
  }

  .header {
    color: var(--header);
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .smaller {
    color: var(--smaller);
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .button {
    font-size: 1rem;
    color: var(--header);
    text-align: center;
    padding: 15px 30px;
    border-radius: 5px;
    background: none;
    border: 2px solid var(--header);
    cursor: pointer;
  }
  .button:hover {
    transition: 0.3s;
    background-color: #ffffff0d;
    color: #ffffff;
    border: solid 1px #ffffff;
    box-shadow: 0px 0px 150px 0px #abd9ff;
    cursor: pointer;
  }

  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #2c2c2c;
  }

  ::-webkit-scrollbar-thumb {
    background: #5353535e;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>

<script>
  window.onload = () => {
    document.body.classList.add("loaded");
  };
</script>
