---
export interface Props {
  title: string;
  url: string;
  type: string;
  author: string;
}

const { title, url, type, author } = Astro.props;
---

<div class="resource">
  <div class="info">
    <h2 class="title">{title}</h2>
    <p class="meta">{type} by {author}</p>
  </div>
  <a href={url} target="_blank" class="download">download</a>
</div>

<style>
  .resource {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 15px;
    background: var(--background);
    border-bottom: 1px solid #333; /* Subtle divider */
    transition: background 0.3s ease-in-out;
  }

  .resource:hover {
    background: #111; /* Slightly lighter on hover */
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
  }

  .title {
    font-size: 1.4rem;
    color: var(--header);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .meta {
    font-size: 1rem;
    color: var(--smaller);
    margin-top: 5px;
  }

  .download {
    font-size: 1rem;
    color: var(--header);
    text-decoration: none;
    border: 2px solid var(--header);
    padding: 10px 20px;
    border-radius: 5px;
    transition:
      background-color 0.3s,
      color 0.3s,
      box-shadow 0.3s;
  }

  .download:hover {
    background-color: var(--header);
    color: var(--background);
    box-shadow: 0px 0px 15px 2px rgba(171, 217, 255, 0.5);
  }
</style>
